{% extends 'navbar.html' %}

{% block body %}
<a class="btn btn-info" href="/Administrador">Volver</a>


<div class="container mt-5 mb-5">
    <div class="row">
        <div style="background: white;" class="col-sm-6">
            <h1 class="display-4 card mt-5">Detalles De la Empresa</h1>
            <div class="container">
                {% for e in empresa %}
                <h1 class="empresaT">Nombre: {{ e[1] }}</h1>
                <p>Quienes Somos? {{ e[2] }}</p>
                <p>Email: {{ e[3] }}</p>
                <p>Direccion: {{ e[4] }}</p>
                <h2>Telefono: {{ e[5] }}</h2>
                <h3>Redes Sociales</h3>
                <p>Facebook: {{ e[6] }} </p>
                <p>Twitter: {{ e[7] }}</p>
                <p>Instagram:  {{ e[8] }}</p>
                {% endfor %}
            </div>
            <br>
        </div>
        <div style="background: white;" class="col-sm-6">
            {% for e in empresa %}
            <form class="mt-5" action="/ActualizarEmpresa" method='POST'>
                <div class="form-group">
                    <label for="nombre">Nombre</label> <input required value="{{e[1]}}" type="text" class="form-control" name="nombre">
                </div>
                <div class="form-group">
                    <label for="QuienesSomos">Quienes Somos</label> <input required value="{{e[2]}}" name="QuienesSomos" class="form-control" ></input>
                </div>
                <div class="form-group">
                    <label for="email">Email Contacto</label> <input required value="{{e[3]}}" type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="dir">Direccion</label> <input required type="text" value="{{e[4]}}" class="form-control" name="dir">
                </div>
                <div class="form-group">
                    <label for="cel">Telefono de Contacto</label> <input required value="{{e[5]}}" type="text" class="form-control" name="cel">
                </div>
                <div class="form-group">
                    <label for="facebook">Facebook</label> <input required type="url" value="{{e[6]}}" name="facebook" class="form-control" id="">
                </div>
                <div class="form-group">
                    <label for="twitter">Twitter</label> <input required type="url" value="{{e[7]}}" name="twitter" class="form-control" id="">
                </div>
                <div class="form-group">
                    <label for="instagram">Instagram</label> <input required type="url" value="{{e[8]}}" name="instagram" class="form-control" id="">
                </div>
                <button type="submit" class="btn btn-info">Actulizar</button>
            </form>
            {% endfor %}
        </div>
        <br>
    </div>
</div>

{% endblock %}